{% extends 'index.html' %}
{% block content %}
{% load static %}

{% include 'header-for-events.html' %}

<!-- About-->
<section class="page-section bg-dark text-white" id="about"
        {#         style="background: linear-gradient(0deg, rgba(114, 53, 165, 0.5) 0%, rgba(0, 180, 216, 0.5) 100%)"#}
         style="background: linear-gradient(0deg, rgba(225, 12, 234, 0.5) 0%, rgba(13, 18, 76, 0.9) 100%)">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Our Journey Begins: First Integration Meeting</h2>
                <hr class="divider divider-light"/>
                <p>Missed our first club meeting? No worries, the adventure has only begun! The KU Tech Student Club has a lot more exciting events lined up for the future. We kicked off our journey with an amazing integration event at Kozminski University, followed by a casual get-together at Hula Kula.</p>
                <p>Our founders, Kamil Kinastowski, Kuba Bialczyk, and Tomasz Syta, shared their plans and goals for the club. After that, we were lucky to be joined by Professor Aleksandra Przegalinska, who welcomed the members of the club and expressed her thoughts about the future of AI in general and at Kozminski University.</p>
                <p>But it wasn't just about the hosts talking - everyone had a chance to express their ideas! We discussed our visions for the club and shared reasons for joining. In smaller groups, students were able to elaborate on their thoughts, as well as talk about their experiences and ideas for future projects.</p>
                <p>Finally, it was time to leave our beloved university and relocate across the street to Hula Kula, where we were able to bond with each other in a non-academic environment.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}