{% extends 'index.html' %}
{% block content %}
{% load static %}

{% include 'header-for-events.html' %}

<!-- About-->
<section class="page-section bg-dark text-white" id="about"
        {#         style="background: linear-gradient(0deg, rgba(114, 53, 165, 0.5) 0%, rgba(0, 180, 216, 0.5) 100%)"#}
         style="background: linear-gradient(0deg, rgba(225, 12, 234, 0.5) 0%, rgba(13, 18, 76, 0.9) 100%)">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Lecture: "Generative AI in Business and Society"</h2>
                <hr class="divider divider-light"/>
                <p>Buckle up, folks, because things are about to get exciting! Professor Triantoro took the stage and presented on the topic of "Generative AI in Business and Society," providing students with a fascinating insight into the latest AI technologies and their implications for business and society. As an expert in the field, professor shared her expertise on the history, future, and practical applications of AI, while also shedding light on the possible social changes that may arise with AI development.</p>
                <p>This electrifying event was organized by our very own club members and was held at our beloved Kozminski University. It was an incredible opportunity for any KU student to receive a wealth of valuable experience and knowledge. But, hold on to your seats because there are many more exciting events on the horizon that you won't want to miss out on! Get ready to learn, grow, and be inspired!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}