{% extends 'index.html' %}
{% block content %}
{% load static %}

{% include 'header-for-events.html' %}

<!-- About-->
<section class="page-section bg-dark text-white" id="about"
        {#         style="background: linear-gradient(0deg, rgba(114, 53, 165, 0.5) 0%, rgba(0, 180, 216, 0.5) 100%)"#}
         style="background: linear-gradient(0deg, rgba(225, 12, 234, 0.5) 0%, rgba(13, 18, 76, 0.9) 100%)">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Study with GPT thanks to GPT promptbook for students</h2>
                <hr class="divider divider-light"/>
                <p>Boosting your efficiency while studying just got easier, thanks to Kozminski AI Club's latest internal project: the GPT University Promptbook! As a beginner member of the club, you can now take advantage of the innovative prompts created by the ChatGPT model, which will help you tackle even the most challenging study tasks with ease.</p>
                <p>The project's aim is to provide a comprehensive list of prompts that can be used by students to generate ideas for papers, essays, and presentations, among other academic tasks. Whether you're a freshman or a senior, this promptbook is guaranteed to help you streamline your study process, saving you valuable time and effort.</p>
                <p>But how does it work? The ChatGPT model is designed to predict and generate text based on a given input. By providing it with a prompt, it generates a series of possible responses, giving you a wealth of ideas to choose from. With the GPT University Promptbook, you'll have access to a curated list of prompts tailored specifically to Kozminski University's academic programs.</p>
                <p>The project is led by Alon Benach, who is responsible for ensuring smooth execution. The team consists of a group of talented individuals with diverse skill sets, including Maksymilian Wower, Mykyta Fedorchuk, Natalia Namysłowska, Lev Hladush, Mateusz Waglowski, Anna Ł., and Piotr Szewczyk, all working together to bring you the best possible results. And let's not forget the team mascot, cat Milka, who is sure to keep spirits high!</p>
                <p>In conclusion, if you're a beginner member of the Kozminski AI Club looking to up your study game, the GPT University Promptbook is a must-have resource. By leveraging the power of AI and technology, the promptbook offers a unique and innovative approach to studying, enabling you to generate ideas quickly and efficiently. Join us in our mission to learn, grow, and make a positive impact through technology, and stay tuned for more updates on our events and projects!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}